[Unit]
Description=Nora Bluetooth Pairing (GUI)
Wants=bluetooth.service
After=graphical.target bluetooth.service

[Service]
Type=oneshot
User=nora
Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin
ExecStart=/bin/bash -lc '/usr/local/bin/bt_pair.sh'

[Install]
WantedBy=graphical.target